.radioWithLabelWrap {
	display: flex;
	gap: 6px;
	min-height: 30px !important;
	height: 100% !important;
	align-items: center;
	padding: 0 6px;
}

.radioLabel {
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
	color: #000000;
	cursor: pointer;
}

.radioLabel.disabled {
	cursor: not-allowed;
}
